@page
@model Congestion.Pages.IndexVehicleModel

<h2>Vehicles</h2>

<p>
    <a asp-page="./Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>SSNNumber</th>
            <th>Tolls</th>
            <th>VehicleType</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.SSNNumber</td>
                <td><a asp-page="./VehicleTolls">Tolls</a></td>
                <td>@item.VehicleType</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                    <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>